
.c-text-1{
  color: var(--c-text-1);
}
.c-text-2{
  color: var(--c-text-2);
}

.c-bg-1{
  background-color: var(--c-bg-1);
}
.c-bg-2{
  background-color: var(--c-bg-2);
}

.c-bg-sidebar{
  background-color: var(--c-bg-sidebar);
}

.c-lo-1{
  background-color: var(--c-lo-1);
}
